In [1]:
import pandas as pd
import numpy as np

In [2]:
df_a = pd.read_csv('../data/spi_matches.csv')
df_a

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2016,2016-07-09,7921,FA Women's Super League,Liverpool Women,Reading,51.56,50.42,0.4389,0.2767,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,2016-07-10,7921,FA Women's Super League,Arsenal Women,Notts County Ladies,46.61,54.03,0.3572,0.3608,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,2016-07-10,7921,FA Women's Super League,Chelsea FC Women,Birmingham City,59.85,54.64,0.4799,0.2487,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,2016-07-16,7921,FA Women's Super League,Liverpool Women,Notts County Ladies,53.00,52.35,0.4289,0.2699,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,2016-07-17,7921,FA Women's Super League,Chelsea FC Women,Arsenal Women,59.43,60.99,0.4124,0.3157,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54251,2021,2022-05-29,1871,Spanish Segunda Division,Burgos,Girona FC,26.08,40.06,0.2760,0.4341,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54252,2021,2022-05-29,1871,Spanish Segunda Division,Tenerife,FC Cartagena,33.14,30.08,0.4570,0.2483,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54253,2021,2022-05-29,1871,Spanish Segunda Division,Mirandes,Fuenlabrada,29.65,23.93,0.4631,0.2407,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54254,2021,2022-05-29,1871,Spanish Segunda Division,Real Oviedo,UD Ibiza,34.47,27.39,0.4816,0.2108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54255,2021,2022-05-29,1871,Spanish Segunda Division,Amorebieta,SD Ponferradina,25.44,32.85,0.3280,0.3788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_a.dtypes

season           int64
date            object
league_id        int64
league          object
team1           object
team2           object
spi1           float64
spi2           float64
prob1          float64
prob2          float64
probtie        float64
proj_score1    float64
proj_score2    float64
importance1    float64
importance2    float64
score1         float64
score2         float64
xg1            float64
xg2            float64
nsxg1          float64
nsxg2          float64
adj_score1     float64
adj_score2     float64
dtype: object

In [4]:
df = df_a[df_a['league'].str.contains('Barclays')]

In [5]:
df.shape

(2280, 23)

In [6]:
df = df[df['season']==2020]

In [7]:
df

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
34045,2020,2020-09-12,2411,Barclays Premier League,Fulham,Arsenal,64.18,77.16,0.2817,0.4608,...,37.3,32.6,0.0,3.0,0.14,2.99,0.27,1.53,0.00,3.15
34078,2020,2020-09-12,2411,Barclays Premier League,Crystal Palace,Southampton,67.69,72.48,0.3698,0.3531,...,32.1,18.1,1.0,0.0,1.51,1.16,0.94,1.65,1.05,0.00
34101,2020,2020-09-12,2411,Barclays Premier League,Liverpool,Leeds United,91.07,64.09,0.8358,0.0438,...,55.5,35.5,4.0,3.0,3.33,0.37,3.01,0.75,4.20,3.15
34118,2020,2020-09-12,2411,Barclays Premier League,West Ham United,Newcastle,70.38,64.72,0.4887,0.2556,...,24.1,36.1,0.0,2.0,0.97,1.48,1.10,1.86,0.00,1.67
34174,2020,2020-09-13,2411,Barclays Premier League,West Bromwich Albion,Leicester City,61.67,79.02,0.2392,0.5013,...,38.5,38.3,0.0,3.0,0.41,2.85,0.46,0.66,0.00,2.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43453,2020,2021-05-23,2411,Barclays Premier League,Wolverhampton,Manchester United,69.50,85.69,0.2910,0.4464,...,0.0,0.0,1.0,2.0,1.11,2.00,1.23,1.06,1.05,2.10
43454,2020,2021-05-23,2411,Barclays Premier League,Leeds United,West Bromwich Albion,74.73,60.12,0.4859,0.2768,...,0.0,0.0,3.0,1.0,2.14,1.06,2.24,1.17,2.94,1.05
43455,2020,2021-05-23,2411,Barclays Premier League,Aston Villa,Chelsea,72.73,89.92,0.1501,0.6261,...,0.0,100.0,2.0,1.0,1.00,4.11,0.79,2.71,2.10,1.05
43456,2020,2021-05-23,2411,Barclays Premier League,Sheffield United,Burnley,55.73,66.86,0.3249,0.3981,...,0.0,0.0,1.0,0.0,0.45,0.73,0.97,1.55,1.05,0.00
43457,2020,2021-05-23,2411,Barclays Premier League,West Ham United,Southampton,75.89,67.07,0.4575,0.3002,...,0.0,0.0,3.0,0.0,2.12,1.64,0.73,1.53,2.75,0.00

In [9]:
df

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
34045,2020,2020-09-12,2411,Barclays Premier League,Fulham,Arsenal,64.18,77.16,0.2817,0.4608,...,37.3,32.6,0.0,3.0,0.14,2.99,0.27,1.53,0.00,3.15
34078,2020,2020-09-12,2411,Barclays Premier League,Crystal Palace,Southampton,67.69,72.48,0.3698,0.3531,...,32.1,18.1,1.0,0.0,1.51,1.16,0.94,1.65,1.05,0.00
34101,2020,2020-09-12,2411,Barclays Premier League,Liverpool,Leeds United,91.07,64.09,0.8358,0.0438,...,55.5,35.5,4.0,3.0,3.33,0.37,3.01,0.75,4.20,3.15
34118,2020,2020-09-12,2411,Barclays Premier League,West Ham United,Newcastle,70.38,64.72,0.4887,0.2556,...,24.1,36.1,0.0,2.0,0.97,1.48,1.10,1.86,0.00,1.67
34174,2020,2020-09-13,2411,Barclays Premier League,West Bromwich Albion,Leicester City,61.67,79.02,0.2392,0.5013,...,38.5,38.3,0.0,3.0,0.41,2.85,0.46,0.66,0.00,2.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43453,2020,2021-05-23,2411,Barclays Premier League,Wolverhampton,Manchester United,69.50,85.69,0.2910,0.4464,...,0.0,0.0,1.0,2.0,1.11,2.00,1.23,1.06,1.05,2.10
43454,2020,2021-05-23,2411,Barclays Premier League,Leeds United,West Bromwich Albion,74.73,60.12,0.4859,0.2768,...,0.0,0.0,3.0,1.0,2.14,1.06,2.24,1.17,2.94,1.05
43455,2020,2021-05-23,2411,Barclays Premier League,Aston Villa,Chelsea,72.73,89.92,0.1501,0.6261,...,0.0,100.0,2.0,1.0,1.00,4.11,0.79,2.71,2.10,1.05
43456,2020,2021-05-23,2411,Barclays Premier League,Sheffield United,Burnley,55.73,66.86,0.3249,0.3981,...,0.0,0.0,1.0,0.0,0.45,0.73,0.97,1.55,1.05,0.00
43457,2020,2021-05-23,2411,Barclays Premier League,West Ham United,Southampton,75.89,67.07,0.4575,0.3002,...,0.0,0.0,3.0,0.0,2.12,1.64,0.73,1.53,2.75,0.00

In [11]:
df.to_csv('../data/premier/premier_match_2020.csv',index = False)

In [13]:
df.columns

Index(['season', 'date', 'league_id', 'league', 'team1', 'team2', 'spi1',
       'spi2', 'prob1', 'prob2', 'probtie', 'proj_score1', 'proj_score2',
       'importance1', 'importance2', 'score1', 'score2', 'xg1', 'xg2', 'nsxg1',
       'nsxg2', 'adj_score1', 'adj_score2'],
      dtype='object')

In [15]:
df[df['importance1'].isnull()]

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
36917,2020,2020-11-28,2411,Barclays Premier League,Manchester City,Burnley,93.52,66.74,0.8416,0.0382,...,NaN,NaN,5.0,0.0,2.23,0.40,2.17,0.74,5.25,0.0
37594,2020,2020-12-12,2411,Barclays Premier League,Manchester United,Manchester City,84.18,93.95,0.2507,0.5214,...,NaN,NaN,0.0,0.0,0.63,1.84,0.76,1.12,0.00,0.0
37816,2020,2020-12-17,2411,Barclays Premier League,Aston Villa,Burnley,74.61,65.91,0.5447,0.2089,...,NaN,NaN,0.0,0.0,1.90,0.29,1.86,0.59,0.00,0.0